body{
  margin: 0;
  padding-top: 50px;
}

h2, h4{
  margin: 0;
}

.logo{
  margin-top: 4px;
}

/* background nav y borde */
.navbar-default {
  background-color: white;
  border: none;
}
/* color letras nav */
.navbar-default .navbar-nav>li>a{
  color: #9D9E9F;
}
/* Configuración fondo 1 - taxi */
.background-one{
  margin-bottom: 0px;
  background-image: url("../assets/images/taxi.jpg");
  background-position: 0% 91.5%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
/* Espacio para cambiar la posición del jumbotron */
.row-padding{
  padding-top: 120px;
}

/* Quitar borde redondo de jumbotron */
.container .jumbotron, .container-fluid .jumbotron{
  border-radius: 0px;
}
/* Fondo jumbotron naranja, letras blancas */
.jumbotron-orange{
  background-color: #F7B617;
  color: white;
  /* height: 50vh; */
  padding-bottom: 50px;
}
/* logo blanco */
.white-logo{
  width: 120px;
  margin-left: -40px;
}
/* margen h4 cuadro naranja - viaja con */
.margin-h4-orange{
  margin-left: -12px;
}

.margin-h2-orange-resp{
  margin-left: -16px;
}

.white-logo-resp{
  margin-top: 10px;
  margin-left: -70px;
  width: 100px;
}

.jumbotron-orange-resp{
  height: auto;
}

.row-padding-resp{
  padding-top: 150px;
}

.iphone{
  padding-bottom: 30px;
}

.border-cel{
  border: 1px solid white;
  border-left: none;
  padding-bottom: 30px;
  padding-top: 30px;
}
.background-orange{
  background-color: #F7B617;
  padding-bottom: 30px;
}

.padding-orange-cel{
  padding-top: 30px;
}

.letter-white{
  color: white;
  line-height: 30px;
}

.border-cel-resp{
  padding-bottom: 0;
  border-left: 1px solid white;
}

.background-two{
  margin-bottom: 0px;
  background-image: url("../assets/images/conduce.jpg");
  background-position: 0% 55%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 68vh;
}

.jumbotron-black{
  height: 68vh;
  padding-top: 30px;
}

.content-black-sqare{
  background-color:rgba(0,0,0,0.3);
}

.btn-cuadro-negro{
  background-color: #F7B617;
  color: white;
  font-size: 18px;
}

.background-orange-2{
  background-color: #F7B617;
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-rates{
  /* padding-top: 50px; */
}

.form-control{
  border-radius: 9px;
  border: 1px solid white;
  background-color:#F7B617;
}

.img-mapa{
  border: none;
  background-color: #F7B617;
  border: 1px solid white;
  padding: 13px;
}

.btn-trace-resp{
  margin-left: 170px;
  margin-bottom: 50px;
  margin-top: 70px;
  width: 150px;
}

.magin-left-map-button{
  margin-top: -23px;
  margin-left: 70px;
}

.form-resp{
  margin-left: -60px;
}

.background-footer{
  background-color: #2B2B2B;
}

.padding-footer{
  padding-top: 30px;
}

.padding-iconos{
  padding-top: 290px;
}

#map_canvas {
  height: 100%;
}

.logo-app-apple, .logo-app-google-play{
  width: 150px;
}

.logo-app-apple{
  padding-top: 195px;
}

.logo-app-google-play{
  padding-top: 20px;
}

.footer-small{
  padding-bottom: 50px;
}

.footer-small-rep{
  padding-bottom: 10px;
}

.padding-iconos-rep{
  padding-top: 10px;
}

.padding-iconos-resp{
  padding-top: 10px;
  letter-spacing: 5px;
}

.logo-app-apple-resp, .logo-app-google-play-resp{
  width: 170px;
}

.logo-app-apple-resp{
  padding-top: 30px;
}

.logo-app-google-play-resp{
  padding-top: 20px;
}
